<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
  >
    <div class="mt-4 md:mt-0">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Orígenes Más Frecuentes en el Tráfico de Red
      </h2>
      <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
        El análisis de los orígenes más frecuentes muestra que
        <b class="text-blue-600">10.0.2.15</b> concentra el mayor volumen de
        tráfico <b class="text-blue-500">(16,222 paquetes)</b>, siendo
        probablemente el host principal o un dispositivo local. Otros orígenes
        destacados, como <b class="text-blue-300">200.125.225.209 (9,469 paquetes)</b> y
        <b class="text-blue-300">57.144.114.128 (7,322 paquetes)</b>, indican actividad externa
        significativa. La mayoría de los orígenes tienen rangos temporales
        específicos, con superposiciones que sugieren interacciones simultáneas
        en la red. Este comportamiento podría ser normal para una red activa,
        pero destaca la necesidad de monitorear los hosts externos más activos
        para identificar posibles anomalías.
      </p>
    </div>
    <app-line></app-line>
  </div>
</section>
